/* This is the Review stylesheet for the Week 11 assignment for Prime Digital Academy, created by 
Adam Boerhave, 10/30/2020 - 11/1/2020 */

/* table border for table in review component */
.reviewTable, td,th {
    border-collapse: collapse;
    border: 1px solid gray;
}

/* table spacing, size and bg color for review table */
.reviewTable {
    max-width: 80%;
    background-color: lightgrey;
    margin: auto;
}

/* spacing for cells */
th, td {
    padding: 6px;
}