.flaggedRow {
    background-color: rgb(247, 247, 44);
}

.unflaggedRow {
    background-color: lightgrey;
}

.adminTable, th, td {
    border-collapse: collapse;
    border: 1px solid gray;
    
}

.adminTable {
    max-width: 80%;
    margin: 20px auto;
}

th, td {
    padding: 6px;
}

th {
    background-color: lightgray;
}

.checkedButton {
    vertical-align: top;
    width: 30px;
    height: 20px;
    padding: 0;
    background-color: mediumblue;
    color: white;
}

.uncheckedButton {
    vertical-align: top;
    width: 30px;
    height: 20px;
    outline: 1px solid black;
}